<div [ngSwitch]="view">
  <mwl-calendar-month-view
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    *ngSwitchCase="CalendarView.Month"
    [activeDayIsOpen]="activeDayIsOpen"
    [events]="events"
    [refresh]="refresh"
    [viewDate]="viewDate"
  >
  </mwl-calendar-month-view>


  <mwl-calendar-week-view
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    *ngSwitchCase="CalendarView.Week"
    [events]="events"
    [refresh]="refresh"
    [viewDate]="viewDate"
  >
  </mwl-calendar-week-view>


  <mwl-calendar-day-view
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    *ngSwitchCase="CalendarView.Day"
    [events]="events"
    [refresh]="refresh"
    [viewDate]="viewDate"
  >
  </mwl-calendar-day-view>
</div>
